[Unit]
Description=LVWEB-128 adminUI

[Service]
User=deploy
Group=deploy
Environment="APPDIR=/opt/lv128/adminUI/"
ExecStart=/bin/bash -c "source $APPDIR/bin/activate ; python $APPDIR/manege.py -l $APPDIR/../log/adminUI.log -p 8881"

[Install]
WantedBy=multi-user.target

