[Unit]
Description=LVWEB-128 AdminUI

[Service]
User=deploy
Group=deploy
Environment="APPDIR=/opt/lv128/AdminUI/"
ExecStart=/bin/bash -c "source $APPDIR/bin/activate; $APPDIRlog/all_operation.log; $APPDIRlog/debug.log; python $APPDIR/manage.py runserver 8810"

[Install]
WantedBy=multi-user.target
