<html>
<head>
{% load staticfiles %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="container">
<div >
	<div class="panel panel-default">
		<ul class="list-unstyled text-right">
			{% if username %}
				<button><li><a href="/auth/logout/">LogOut ({{ username }})</a></li></button>
			{% else %}	
				<button><li><a href="/auth/login/">LogIn</a></li></button>
			{% endif %}	
		</ul>
	</div>
</div>
{% block content %}{% endblock %}
</div>
</body>
</html>