<html>
<head>
{% load staticfiles %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="container">
<div >
	<div class="panel panel-default">
		{% if username %}
			<p class="list-unstyled text-right"><a href="/accounts/logout/" class="btn btn-sm btn-primary">LogOut ({{ username }})</a></p>	
		{% endif %}	
	</div>
</div>
{% block content %}{% endblock %}
</div>
</body>
</html>