{% extends "my_app/base.html" %}

{% block content %}	
	{% if users_list %}
	<form action="" method="POST">
	{% csrf_token %}

		<table class="table table-striped">
		{% for user in users_list %}
  			<tr>
  				<td>{{ user.id }}</td>
    			<td>{{ user.login }}</td>
    			<td>{{ user.fullname }}</td>
    			<td>{{ user.token }}</td>
    			<td>{{ user.total_msg_counter }}</td>
    			<td>{{ user.success_msg_counter }}</td>
    			<td>{{ user.failed_msg_counter }}</td>
    			<td><a href="edit/{{ user.id }}"><button name="edit" type="button" class="btn btn-sm btn-warning">edit</button></a></td>
    			<td><button name="delete" value="{{user.id}}" class="btn btn-sm btn-danger">delete</button></td>
  			</tr>
  		{% endfor %}
		</table> 
    </form>
	{% else %}
    <p>No users are available.</p>
	{% endif %}
  <a href="{% url "add" %}"><button name="add" class="btn btn-sm btn-primary" id="is_it_users">add</button></a>
{% endblock %}