{% extends "my_app/base.html" %}

{% block content %}
<div class='row'>
    <div id="signin" class="back_color">
        <form method="post">
            <div class="auth-form-header"> 
                <h1>Sign In</h1>
            </div>
        	{% csrf_token %}
            <div class="auth-form-body">
            	<table class="table table-striped">
            	{{form}}
            	<tr><th><button class="btn btn-sm btn-primary btn-block" name="sing_in" type="submit">Sign in</button> 
            	</th><th><a class="btn btn-sm btn-primary btn-block" href="../registration">Registration</a> 
                </th></tr>
            	</table>
            </div>    
        </form>
    </div>
</div>        
{% endblock %}