{% extends "my_app/base.html" %}
{% load bootstrap %}

{% block content %}
<div class='row'>
    <div class='col-md-4 col-xs-8 col-sm-6 col-lg-4 col-sm-offset-3 col-xs-offset-2 col-md-offset-4 col-lg-offset-4 back_color'>
        <form method="post">
        	{% csrf_token %}
        	{{form|bootstrap_horizontal:'col-lg-4'}}
            <button class="btn btn-sm btn-primary btn-block" name="registration" type="submit">Registration</button> 
        </form>
    </div>
</div>        
{% endblock %}